/* fonts */
@font-face {
    font-family: Poppins-SemiBold;
    src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: Hind-Regular;
    src: url(./fonts/Hind/Hind-Regular.ttf);
}
@font-face {
    font-family: Hind-Bold;
    src: url(./fonts/Hind/Hind-Bold.ttf);
}
@font-face {
    font-family: Hind-Medium;
    src: url(./fonts/Hind/Hind-Medium.ttf);
}

.Poppins {
    font-family: Poppins-SemiBold;
}
.Inter {
    font-family: Inter;
}
.Hind-Bold {
    font-family: Hind-Bold;
}
.Hind-Regular {
    font-family: Hind-Regular;
    font-weight: 400;
}
.Hind-Medium {
    font-family: Hind-Medium;
}

/* RWD */

@media (max-width: 660px) {
    .navbar {
        padding: 0 10px;
    }

    .wrapper__Navbar {
        display: none !important;
    }

    .button__Hamburger {
        display: block !important;
    }

    .header__Home {
        text-align: center;
    }

    .wrapper__Home {
        padding: 15px !important;
    }

    .wrapper__Frame__Home {
        flex-direction: column;
    }

    .wrapper__article__Home {
        align-items: center !important;
    }

    .header__Home {
        font-size: 50px !important;
        max-width: 70%;
    }

    .wrapper__Cards {
        gap: 10px !important;
        flex-direction: column;
        min-height: 500px;
    }

    #shadow__Top {
        bottom: 8px !important;
    }
    .header__Page {
        font-size: 24px !important;
        text-align: center !important;
    }

    .frame__Page {
        gap: 0px !important;
        margin: 15px !important;
    }

    .wrapper__article__Page {
        margin: 15px 0px !important;
    }

    .wrapper__Page {
        padding: 10px !important;
    }

    /*  */

    .footer {
        flex-direction: column;
        gap: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 1120px) {
    .separator {
        width: 0px;
    }
    .wrapper__Frame__Home {
        padding: 0px !important;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .frame__Page,
    .frame__Page__Comment {
        flex-direction: column;
        align-items: center;
        margin: 5vw;
        gap: 0px !important;
    }
    .reverse__column {
        flex-direction: column-reverse;
    }
}

/* utils */
.separator {
    margin: auto;
}

#image__shadow {
    width: 215px;
    height: 28px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    opacity: 0.7;
}

#shadow__Top {
    width: 50%;
    height: 1px;
    margin-top: -3px;
    margin-left: 10%;
    box-shadow: 3px 2px 3px #333;
    border-radius: 50%;
    position: relative;
    right: 12vw;
    bottom: 74px;
}

.button__Common {
    margin-top: -10px;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    padding: 9px;
}

article,
h2,
h3,
p,
section,
body,
main,
a,
button {
    margin: 0px !important;
    padding: 0px;
}

h1 {
    margin-bottom: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    height: 77px;
    opacity: 0.8;
}

.logo {
    font-size: 26px;
    font-family: Poppins-SemiBold;
}

.wrapper__Navbar {
    font-family: Inter;
    font-size: 24px;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
}

.wrapper__Links {
    display: flex;
    margin-right: 1vw;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
.dropdown__Account {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    font-family: Inter;
    font-size: 24px;
}

.button__Hamburger {
    display: none;
    border: none;
    background: none;
}

.wrapper__Home {
    display: flex;
    flex-direction: column;
    padding-top: 77px;
    padding-bottom: 108px;
    align-content: center;
    background: radial-gradient(
            farthest-side at 25vw 25vh,
            #933dda7e,
            #bb91dc1a,
            transparent
        ),
        radial-gradient(
            farthest-side at 45vw 110vh,
            #8e9eeacc,
            #8e9eea66,
            transparent
        ),
        radial-gradient(
            farthest-side at 80vw 55vh,
            #acafea,
            #cdcfe9,
            transparent
        );
}

.wrapper__Frame__Home {
    /* border: 1px solid black; */
    display: flex;
    padding: 10px 100px;
    max-width: 1360px;
    margin: 0 auto;
}

.wrapper__article__Home {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: start;
    flex-direction: column;
    max-width: 580px;
    margin: 67.5px 0;
    padding: 0 6px;
    gap: 33px;
    line-height: 1.2;
}

.wrapper__Image__Home {
    margin: 55px, 0;
}

.header__Home {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.wrapper__Icon {
    font-size: 36px;
    margin-bottom: -15px;
    padding: 2px;
}

.wrapper__Cards {
    /* border: 1px solid black; */
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding: 7.5px;
    gap: 77px;
    padding-right: 0;
    font-family: Hind-Regular;
    font-size: 12px;
}

.wrapper__Card__Characteristics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #cccef2;
    padding: 30px;
    border-radius: 12px;
}

.wrapper__Page {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(
            farthest-side at 28vw 58vh,
            #88a4e441,
            #ffffff7e,
            transparent
        ),
        radial-gradient(
            ellipse 35% 50% at 75vw 25vh,
            #cd8fe07a,
            #cdcfe9,
            transparent
        ),
        radial-gradient(
            farthest-corner at 65vw 118vh,
            #88a4e485,
            #cdcfe900
        ),
        radial-gradient(
            ellipse 25% 45% at 25vw 115vh,
            #cd8fe07a,
            rgba(255, 255, 255, 0) 100%,
            transparent
        );

    padding: 75px 25px;
    font-weight: 600;
}

.frame__Page {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    gap: 250px;
    justify-content: center;
    padding: auto;
    max-width: 1168px;
}

.header__Page {
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: Hind-Regular;
}

.wrapper__Image__Page {
    display: flex;
    align-items: center;
}

.wrapper__article__Page {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-items: start;
    flex-direction: column;

    margin: 67.5px 0;
    padding: 0 6px;
    gap: 30px;
    line-height: 1.2;
}

.wrapper__Comment {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1160px;
    padding-top: 70px;
}

.frame__Page__Comment {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
    max-width: 1168px;
}

.wrapper__article__Comment {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: start;
    flex-direction: column;

    padding: 0 6px;
    gap: 30px;
    line-height: 1.2;
}

.wrapper__Comment__Id {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    /* border: 1px solid black; */
    height: 220px;
    display: flex;

    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    padding: 15px;
}

.wrapper__Footer__Item {
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    font-size: 21px;
}
